<h1>TinyMCE 6 Angular Demo</h1>
<h2>great</h2>

<editor
  apiKey="473nqxk29ymbmje8dy02v4ptz562lhgy7tuxauoird4tnmzr"
  [init]="{
    base_url: '/tinymce',
    suffix: '.min',
    file_picker_callback: fp_cb,
    selector: 'textarea#file-picker',
    plugins: 'image code ',
    toolbar: 'undo redo | link image | code',
    file_picker_types: 'file image media'
  }"
></editor>
<!-- 
<editor
  [init]="{
    base_url: '/tinymce',
    suffix: '.min',
    selector: 'textarea#file-picker',
    images_upload_url: 'https://api.cloudinary.com/v1_1/pueneh/upload',
    plugins: 'image code ',
    toolbar: 'undo redo | link image | code',
    file_browser_callback_types: 'file image media',
    file_picker_types: 'file image media'
  }"
></editor> -->
<!-- images_upload_url: 'https://api.cloudinary.com/v1_1/pueneh/upload', -->
<!-- images_upload_handler: uploadImage -->
<!-- images_upload_handler:(blobInfo, progress)=>{
      const formData = new formData()
      formData.append('file', blobInfo.blob(), blobInfo.filename());
      formData.append("upload_preset")
    } -->
<!-- <editor
  [init]="{
    base_url: '/tinymce',
    suffix: '.min',
    selector: 'textarea',
    images_upload_url: 'postAcceptor.php',
    plugins: 'image  ',
    file_browser_callback_types: 'file image media',
    file_picker_types: 'file image media'
  }"
></editor> -->

<!-- <editor
  [init]="{
    
    base_url: '/tinymce',
    suffix: '.min',
    images_upload_url: 'postAcceptor.php',
    images_upload_credentials: true
  }"
></editor> -->
